﻿@page
@model WebApplication10.Pages.OrderModel
@using WebApplication10.Enums;
@{
}



<h2>Registration for Order</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Order.FullName"></label>
        <input asp-for="Order.FullName" class="form-control" />
        <span asp-validation-for="Order.FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Order.Email"></label>
        <input asp-for="Order.Email" class="form-control" />
        <span asp-validation-for="Order.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Order.Date"></label>
        <input asp-for="Order.Date" type="date" class="form-control" />
        <span asp-validation-for="Order.Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Order.Product"></label>
        <select asp-for="Order.Product" asp-items="Html.GetEnumSelectList<ProductEnum>()" class="form-control">
            <option selected="selected" value="">Select Product</option>
        </select>
        <span asp-validation-for="Order.Product" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary my-3">Register</button>
</form>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}